ul.grid.responsive-grid-m.reset.gap
    for idea, i in collections.idea
        li.fd-c.shadow
            article.card.borderius.no-overflow 
                .card__image
                    img(src=idea.data.featuredImage, alt=title)

                .card__body.padding
                    small Added on #{page.date.toDateString()}
                    h2 
                        a.no-padding(href=idea.url) #{idea.data.title}
                    p #{idea.data.description}
                    for category in idea.data.categories
                        div.card__meta #{category}