doctype html
html(lang="en")
    include ../partials/head.pug
    include ../partials/body.pug
        include ../partials/header.pug
        main.barba-container(data-barba="container" data-barba-namespace=title)
            div.margin-m.margin-y
                a.bg-accent.padding-m.borderius(href="/ideas")
                    span See All
            h1 #{title}
            img.thumbnail(src=featuredImage, alt=title)
            p #{description}
            div !{content}
            //- .related 
            //-     for idea, i in collections.idea
        include ../partials/footer.pug
    include ../partials/scripts.pug

//- #{content | safe}