head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title #{title}
    meta(name="description", content=description )
    link(rel="stylesheet", href="/css/style.css")


    //- Custom Browser colors on Mobile 
    meta(name="theme-color" content=meta.theme_color)
    meta(name="apple-mobile-web-app-status-bar-style" content=meta.theme_color)

    //-  Primary Meta Tags 
    meta(name="title" content=title)


    //- Open Graph / Facebook 
    //- 1200 x 628 
    meta(property="og:image" content=meta.site_thumbnail)
    meta(property="og:type" content="website")
    meta(property="og:url" content=meta.site_url)
    meta(property="og:title" content=title)
    meta(property="og:description" content=description)

    //- Twitter 
    meta(name="twitter:image" content=meta.site_thumbnail)
    meta(name="twitter:card" content="summary_large_image")
    meta(name="twitter:creator" content=meta.twitter_name)
    meta(name="twitter:site" content=meta.twitter_name)
    meta(name="twitter:text:title" content=title)
    //- meta(name="twitter:url" content=meta.site_url)
    //- meta(name="twitter:title" content=title)
    //- meta(name="twitter:description" content=description)


    //- Favicons
    link(rel="shortcut icon", href="/images/favicon-16x16.png", type="image/x-icon", sizes="16x16")
    link(rel="shortcut icon", href="/images/favicon-32x32.png", type="image/x-icon", sizes="32x32")