head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title #{title}
    meta(name="description", content=description )
    link(rel="stylesheet", href="/css/style.css")


    //- Custom Browser colors on Mobile 
    meta(name="theme-color" content="#1843c1")
    meta(name="apple-mobile-web-app-status-bar-style" content="#1843c1")

    //-  Primary Meta Tags 
    meta(name="title" content=title)


    //- Open Graph / Facebook 
    meta(property="og:type" content="website")
    meta(property="og:url" content="")
    meta(property="og:title" content=title)
    meta(property="og:description" content=description)
    //- 1200 x 628 
    meta(property="og:image" content="")

    //- Twitter 
    meta(property="twitter:card" content="summary_large_image")
    meta(property="twitter:url" content="")
    meta(property="twitter:title" content=title)
    meta(property="twitter:description" content=description)
    meta(property="twitter:image" content="")