ul.grid.responsive-grid-m.reset.gap-m
    for idea, i in collections.idea
        li.flex.shadow.animate-fade-up
            article.flex.fd-c.card.no-overflow.bg-accent
                if idea.data.featuredImage == "/images/uploads/transparent.png"
                    .card__image.bg-boiler(data-title=idea.data.title)
                        img(src=idea.data.featuredImage, alt=title)
                else 
                    .card__image
                        img(src=idea.data.featuredImage, alt=title)

                .card__body.flex.fd-c.padding-m.fg-1
                    small Added on #{page.date.toDateString()}
                    h2 
                        a.no-padding(href=idea.url) #{idea.data.title}
                    p #{idea.data.description}
                    for category in idea.data.categories
                        div.card__meta #{category}
    li.flex.shadow.new-idea.animate-fade-up
        article.flex.fd-c.card.no-overflow.bg-accent
            .card__image.bg-boiler(data-title="Terrible Project Idea 💡")
                //- span 💡
                img(src="/images/uploads/transparent.png", alt=title)

            .card__body.flex.fd-c.padding-m.fg-1
                small Might be added today
                h2 
                    a.no-padding(href="/submit") Your Idea here
                a.primary.flex.ai-c.padding-y.margin-auto.margin-auto-y(href="/submit")
                    span Submit
                    include arrowSVG.pug
                .card__meta 💡